#lime-main{
    background:  #00ff00;
    color:  #00ff00;
}
#lime-1{
    background:  #7aff7a ;
    color: #7aff7a  ;
}
#lime-2{
    background:  #75ff75 ;
    color:  #75ff75 ;
}
#lime-3{
    background:  #6bff6b ;
    color:  #6bff6b ;
}
#lime-4{
    background:  #61ff61 ;
    color: #61ff61  ;
}
#lime-5{
    background:  #5cff5c ;
    color:  #5cff5c ;
}
#lime-6{
    background: #52ff52  ;
    color:  #52ff52 ;
}
#lime-7{
    background:  #47ff47 ;
    color:  #47ff47 ;
}
#lime-8{
    background: #42ff42  ;
    color: #42ff42  ;
}
#lime-9{
    background: #38ff38  ;
    color:  #38ff38 ;
}
#lime-10{
    background:  #2eff2e ;
    color:  #2eff2e ;
}
#lime-11{
    background: #29ff29  ;
    color:  #29ff29 ;
}
#lime-12{
    background:  #1fff1f ;
    color:  #1fff1f ;
}
#lime-13{
    background: #14ff14  ;
    color:  #14ff14 ;
}
#lime-14{
    background:  #0fff0f ;
    color:  #0fff0f ;
}
#lime-15{
    background: #05ff05  ;
    color:  #05ff05 ;
}

#lime-main-dark{
    background:  #009400 ;
    color:  #009400 ;
}
#lime-dark-1{
    background:  #00f500 ;
    color:  #00f500 ;
}
#lime-dark-2{
    background: #00f000  ;
    color:  #00f000 ;
}
#lime-dark-3{
    background:  #00e600 ;
    color:  #00e600 ;
}
#lime-dark-4{
    background:  #00e000 ;
    color: #00e000  ;
}
#lime-dark-5{
    background:  #00db00 ;
    color:  #00db00 ;
}
#lime-dark-6{
    background:  #00d100 ;
    color:  #00d100 ;
}
#lime-dark-7{
    background: #00cc00  ;
    color:  #00cc00 ;
}
#lime-dark-8{
    background:  #00c700 ;
    color:  #00c700 ;
}
#lime-dark-9{
    background:  #00bd00 ;
    color:  #00bd00 ;
}
#lime-dark-10{
    background: #00b800  ;
    color:  #00b800 ;
}
#lime-dark-11{
    background:  #00b300 ;
    color:  #00b300 ;
}
#lime-dark-12{
    background:  #00a800 ;
    color:  #00a800 ;
}
#lime-dark-13{
    background: #00a300  ;
    color: #00a300  ;
}
#lime-dark-14{
    background: #009e00  ;
    color:  #009e00 ;
}
#lime-dark-15{
    background:  #009400 ;
    color:  #009400 ;
}
