#teal-main{
    background: #008080;
    color:#008080 ;
}
#teal-1{
    background:  #00fafa ;
    color:  #00fafa ;
}
#teal-2{
    background: #00f5f5  ;
    color: #00f5f5  ;
}
#teal-3{
    background: #00ebeb  ;
    color:  #00ebeb ;
}
#teal-4{
    background:  #00e0e0 ;
    color:  #00e0e0 ;
}
#teal-5{
    background:  #00dbdb ;
    color: #00dbdb  ;
}
#teal-6{
    background: #00d1d1  ;
    color:  #00d1d1 ;
}
#teal-7{
    background: #00c7c7  ;
    color:  #00c7c7 ;
}
#teal-8{
    background:  #00c2c2 ;
    color:  #00c2c2 ;
}
#teal-9{
    background:  #00b8b8 ;
    color:  #00b8b8 ;
}
#teal-10{
    background: #00adad  ;
    color:  #00adad ;
}
#teal-11{
    background:  #00a8a8 ;
    color:  #00a8a8 ;
}
#teal-12{
    background: #009e9e  ;
    color:  #009e9e ;
}
#teal-13{
    background:  #009494 ;
    color: #009494  ;
}
#teal-14{
    background:  #008f8f ;
    color:  #008f8f ;
}
#teal-15{
    background:  #008585 ;
    color:  #008585 ;
}

#teal-dark-main{
    background:  #001414 ;
    color:  #001414 ;
}
#teal-dark-1{
    background:  #007575 ;
    color: #007575  ;
}
#teal-dark-2{
    background:  #007070 ;
    color:  #007070 ;
}
#teal-dark-3{
    background:  #006666 ;
    color:  #006666 ;
}
#teal-dark-4{
    background:  #006161 ;
    color:  #006161 ;
}
#teal-dark-5{
    background:  #005c5c ;
    color:  #005c5c ;
}
#teal-dark-6{
    background:  #005252 ;
    color:  #005252 ;
}
#teal-dark-7{
    background: #004d4d  ;
    color:  #004d4d ;
}
#teal-dark-8{
    background:  #004747 ;
    color:  #004747 ;
}
#teal-dark-9{
    background:  #003d3d ;
    color: #003d3d  ;
}
#teal-dark-10{
    background:  #003838 ;
    color:  #003838 ;
}
#teal-dark-11{
    background:  #003333 ;
    color:  #003333 ;
}
#teal-dark-12{
    background: #002929  ;
    color:  #002929 ;
}
#teal-dark-13{
    background:  #002424 ;
    color: #002424  ;
}
#teal-dark-14{
    background:  #001f1f ;
    color:  #001f1f ;
}
#teal-dark-15{
    background:  #001414 ;
    color:  #001414 ;
}
