Var colors:root {
    --orange-main: #F48024;
    /* ligth orange  */
    --orange-1: #ffd17a;
    --orange-2: #ffcf75;
    --orange-3: #ffcb6b;
    --orange-4: #ffc861;
    --orange-5: #ffc65c;
    --orange-6: #ffc252;
    --orange-7: #ffbf47;
    --orange-9: #ffbd42;
    --orange-10: #ffb62e;
    --orange-11: #ffb429;
    --orange-12: #ffb01f;
    --orange-13: #ffad14;
    --orange-14: #ffab0f;
    --orange-15: #ffa805;
    /* dark orange  */
    --orange-dark-1: #f59f00;
    --orange-dark-2: #f09c00;
    --orange-dark-3: #e69500;
    --orange-dark-4: #e09200;
    --orange-dark-5: #db8f00;
    --orange-dark-6: #d18800;
    --orange-dark-7: #cc8500;
    --orange-dark-8: #c78100;
    --orange-dark-9: #bd7b00;
    --orange-dark-10: #b87700;
    --orange-dark-11: #b37400;
    --orange-dark-12: #a86d00;
    --orange-dark-13: #a36a00;
    --orange-dark-14: #9e6700;
    --orange-dark-15: #946000;
    /* red  */
    --red-main: #ff0000;
    --red-1: #ff7a7a;
    --red-2: #ff7575;
    --red-3: #ff6b6b;
    --red-4: #ff6161;
    --red-5: #ff5c5c;
    --red-6: #ff5252;
    --red-7: #ff4747;
    --red-8: #ff4242;
    --red-9: #ff3838;
    --red-10: #ff2e2e;
    --red-11: #ff2929;
    --red-12: #ff1f1f;
    --red-13: #ff1414;
    --red-14: #ff0f0f;
    --red-15: #ff0505;
    /* dark red */
    --red-dark-1: #f50000;
    --red-dark-2: #f00000;
    --red-dark-3: #e60000;
    --red-dark-4: #e00000;
    --red-dark-5: #db0000;
    --red-dark-6: #d10000;
    --red-dark-7: #cc0000;
    --red-dark-8: #c70000;
    --red-dark-9: #bd0000;
    --red-dark-10: #b80000;
    --red-dark-11: #b30000;
    --red-dark-12: #a80000;
    --red-dark-13: #a30000;
    --red-dark-14: #9e0000;
    --red-dark-15: #940000;
    /*blue color*/
    --blue-main: #0000ff;
    --blue-1: #7a7aff;
    --blue-2: #7575ff;
    --blue-3: #6b6bff;
    --blue-4: #6161ff;
    --blue-5: #5c5cff;
    --blue-6: #5c5cff;
    --blue-7: #4747ff;
    --blue-8: #4242ff;
    --blue-9: #3838ff;
    --blue-10: #2e2eff;
    --blue-11: #2929ff;
    --blue-12: #1f1fff;
    --blue-13: #1414ff;
    --blue-14: #0f0fff;
    --blue-15: #0505ff;

    /*dark blue*/
    --blue-dark-1: #0000f5;
    --blue-dark-2: #0000f0;
    --blue-dark-3: #0000e6;
    --blue-dark-4: #0000e0;
    --blue-dark-5: #0000db;
    --blue-dark-6: #0000d1;
    --blue-dark-7: #0000cc;
    --blue-dark-8: #0000c7;
    --blue-dark-9: #0000bd;
    --blue-dark-10: #0000b8;
    --blue-dark-11: #0000b3;
    --blue-dark-12: #0000a8;
    --blue-dark-13: #0000a3;
    --blue-dark-14: #00009e;
    --blue-dark-15: #000094;
    /*navy-blue*/
    --nvblue-main: #000080;
    --nvblue-1: #0000fa;
    --nvblue-2: #0000f5;
    --nvblue-3: #0000eb;
    --nvblue-4: #0000e0;
    --nvblue-5: #0000db;
    --nvblue-6:  #0000d1;
    --nvblue-7: #0000c7;
    --nvblue-8:  #0000c2;
    --nvblue-9: #0000b8;
    --nvblue-10: #0000ad;
    --nvblue-11:  #0000a8;
    --nvblue-12:  #00009e;
    --nvblue-13:  #000094;
    --nvblue-14: #00008f;
    --nvblue-15: #000085;
    /*navy blue dark*/
    --nvblue-dark-1: #000075;
    --nvblue-dark-2: #000070;
    --nvblue-dark-3: #000066;
    --nvblue-dark-4: #000061;
    --nvblue-dark-5: #00005c;
    --nvblue-dark-6: #000052;
    --nvblue-dark-7: #00004d;
    --nvblue-dark-8: #000047;
    --nvblue-dark-9: #00003d;
    --nvblue-dark-10: #000038;
    --nvblue-dark-11: #000033;
    --nvblue-dark-12: #000029;
    --nvblue-dark-13: #000024;
    --nvblue-dark-14: #00001f;
    --nvblue-dark-15: #000014;
    /*green*/
    --main-green:  #008000;
    --green-1: #00fa00;
    --green-2: #00f500;
    --green-3: #00eb00;
    --green-4: #00e000;
    --green-5: #00db00;
    --green-6: #00d100;
    --green-7: #00c700;
    --green-8: #00c200;
    --green-9: #00b800;
    --green-10: #00ad00;
    --green-11: #00a800;
    --green-12: #009e00;
    --green-13: #009400;
    --green-14: #008f00;
    --green-15: #008500;
    /*dark green*/
    --dark-green-1: #007500;
    --dark-green-2: #007000;
    --dark-green-3: #006600;
    --dark-green-4: #006100;
    --dark-green-5: #005c00;
    --dark-green-6: #005200;
    --dark-green-7: #004d00;
    --dark-green-8: #004700;
    --dark-green-9: #003d00;
    --dark-green-10: #003800;
    --dark-green-11: #003300;
    --dark-green-12: #002900;
    --dark-green-13: #002400;
    --dark-green-14: #001f00;
    --dark-green-15: #001400;
    /*teal*/
    --main-teal: #008080;
    --teal-1: #00fafa;
    --teal-2: #00f5f5;
    --teal-3: #00ebeb;
    --teal-4: #00e0e0;
    --teal-5: #00dbdb;
    --teal-6: #00d1d1;
    --teal-7: #00c7c7;
    --teal-8: #00c2c2;
    --teal-9: #00b8b8;
    --teal-10: #00adad;
    --teal-11: #00a8a8;
    --teal-12: #009e9e;
    --teal-13: #009494;
    --teal-14: #008f8f;
    --teal-15: #008585;
    /*teal-dark*/
    --teal-dark-1: #007575;
    --teal-dark-2: #007070;
    --teal-dark-3: #006666;
    --teal-dark-4: #006161;
    --teal-dark-5: #005c5c;
    --teal-dark-6: #005252;
    --teal-dark-7: #004d4d;
    --teal-dark-8: #004747;
    --teal-dark-9: #003d3d;
    --teal-dark-10: #003838;
    --teal-dark-11: #003333;
    --teal-dark-12: #002929;
    --teal-dark-13: #002424;
    --teal-dark-14: #001f1f;
    --teal-dark-15: #001414;
    /*olive*/
    /*lime*/
    /*grey*/
    --grey-main: #808080;
    --grey-1: #bdbdbd;
    --grey-2: #bababa;
    --grey-3: #b5b5b5;
    --grey-4: #b0b0b0;
    --grey-5: #adadad;
    --grey-6: #a8a8a8;
    --grey-7: #a3a3a3;
    --grey-8: #a1a1a1;
    --grey-9: #9c9c9c;
    --grey-10: #969696;
    --grey-11: #949494;
    --grey-12: #8f8f8f;
    --grey-13: #8a8a8a;
    --grey-14: #878787;
    --grey-15: #828282;
    /*grey dark*/
    --grey-dark-1: #7a7a7a;
    --grey-dark-2: #787878;
    --grey-dark-3: #737373;
    --grey-dark-4: #707070;
    --grey-dark-5: #6e6e6e;
    --grey-dark-6: #696969;
    --grey-dark-7: #666666;
    --grey-dark-8: #636363;
    --grey-dark-9: #5e5e5e;
    --grey-dark-10: #5c5c5c;
    --grey-dark-11: #595959;
    --grey-dark-12: #545454;
    --grey-dark-13: #525252;
    --grey-dark-14: #4f4f4f;
    --grey-dark-15: #4a4a4a;
    /*silver*/
    --silver-main: #c0c0c0;
    --silver-1: #fcfcfc;
    --silver-2: #fafafa;
    --silver-3: #f5f5f5;
    --silver-4: #f0f0f0;
    --silver-5: #ededed;
    --silver-6: #e8e8e8;
    --silver-7: #e3e3e3;
    --silver-8: #e0e0e0;
    --silver-9: #dbdbdb;
    --silver-10: #d6d6d6;
    --silver-11: #d4d4d4;
    --silver-12: #cfcfcf;
    --silver-13: #c9c9c9;
    --silver-14: #c7c7c7;
    --silver-15: #c2c2c2;
    /*dark silver*/
    --silver-dark-1: #bababa;
    --silver-dark-2: #b8b8b8;
    --silver-dark-3: #b3b3b3;
    --silver-dark-4: #b0b0b0;
    --silver-dark-5: #adadad;
    --silver-dark-6: #a8a8a8;
    --silver-dark-7: #a6a6a6;
    --silver-dark-8: #a3a3a3;
    --silver-dark-9: #9e9e9e;
    --silver-dark-10: #9c9c9c;
    --silver-dark-11: #999999;
    --silver-dark-12: #949494;
    --silver-dark-13: #919191;
    --silver-dark-14: #8f8f8f;
    --silver-dark-15: #8a8a8a;
}