#black-main{
    background:  #000000 ;
    color:  #000000 ;
}
#black-1{
    background:  #3d3d3d ;
    color:  #3d3d3d ;
}
#black-2{
    background: #3b3b3b  ;
    color:  #3b3b3b ;
}
#black-3{
    background: #363636  ;
    color:  #363636 ;
}
#black-4{
    background:  #303030 ;
    color:  #303030 ;
}
#black-5{
    background:  #2e2e2e ;
    color: #2e2e2e  ;
}
#black-6{
    background: #292929  ;
    color: #292929  ;
}
#black-7{
    background:  #242424 ;
    color:  #242424 ;
}
#black-8{
    background: #212121  ;
    color:  #212121 ;
}
#black-9{
    background:  #1c1c1c ;
    color:  #1c1c1c ;
}
#black-10{
    background:  #171717 ;
    color:  #171717 ;
}
#black-11{
    background:  #141414 ;
    color:  #141414 ;
}
#black-12{
    background:  #0f0f0f ;
    color: #0f0f0f  ;
}
#black-13{
    background: #0a0a0a  ;
    color:  #0a0a0a ;
}
#black-14{
    background: #080808  ;
    color:  #080808 ;
}
#black-15{
    background: #030303  ;
    color:  #030303 ;
}
