#blue-main {
    background: #0000ff;
    color: #0000ff;
}

#blue-1 {
    background: #7a7aff;
    color: #7a7aff;
}

#blue-2 {
    background: #7575ff;
    color: #7575ff;
}

#blue-3 {
    background: #6b6bff;
    color: #6b6bff;
}

#blue-4 {
    background: #6161ff;
    color: #6161ff;
}

#blue-5 {
    background: #5c5cff;
    color: #5c5cff;
}

#blue-6 {
    background: #5252ff;
    color: #5252ff;
}

#blue-7 {
    background: #4747ff;
    color: #4747ff;
}

#blue-8 {
    background: #4242ff;
    color: #4242ff;
}

#blue-9 {
    background: #3838ff;
    color: #3838ff;
}

#blue-10 {
    background: #2e2eff;
    color: #2e2eff;
}

#blue-11 {
    background: #2929ff;
    color: #2929ff;
}

#blue-12 {
    background: #1f1fff;
    color: #1f1fff;
}

#blue-13 {
    background: #1414ff;
    color: #1414ff;
}

#blue-14 {
    background: #0f0fff;
    color: #0f0fff;
}

#blue-15 {
    background: #0505ff;
    color: #0505ff;
}

#blue-dark-main {
    background: #000094;
    color: #000094;
}

#blue-dark-1 {
    background: #0000f5;
    color: #0000f5;
}

#blue-dark-2 {
    background: #0000f0;
    color: #0000f0;
}

#blue-dark-3 {
    background: #0000e6;
    color: #0000e6;
}

#blue-dark-4 {
    background: #0000e0;
    color: #0000e0;
}

#blue-dark-5 {
    background: #0000db;
    color: #0000db;
}

#blue-dark-6 {
    background: #0000d1;
    color: #0000d1;
}

#blue-dark-7 {
    background: #0000cc;
    color: #0000cc;
}

#blue-dark-8 {
    background: #0000c7;
    color: #0000c7;
}

#blue-dark-9 {
    background: #0000bd;
    color: #0000bd;
}

#blue-dark-10 {
    background: #0000b8;
    color: #0000b8;
}

#blue-dark-11 {
    background: #0000b3;
    color: #0000b3;
}

#blue-dark-12 {
    background: #0000a8;
    color: #0000a8;
}

#blue-dark-13 {
    background: #0000a3;
    color: #0000a3;
}

#blue-dark-14 {
    background: #00009e;
    color: #00009e;
}

#blue-dark-15 {
    background: #000094;
    color: #000094;
}
