#cyan-main {
    background: #00ffff;
    color: #00ffff;
}

#cyan-1 {
    background: #7affff;
    color: #7affff;
}

#cyan-2 {
    background: #75ffff;
    color: #75ffff;
}

#cyan-3 {
    background: #6bffff;
    color: #6bffff;
}

#cyan-4 {
    background: #61ffff;
    color: #61ffff;
}

#cyan-5 {
    background: #5cffff;
    color: #5cffff;
}

#cyan-6 {
    background: #52ffff;
    color: #52ffff;
}

#cyan-7 {
    background: #47ffff;
    color: #47ffff;
}

#cyan-8 {
    background: #42ffff;
    color: #42ffff;
}

#cyan-9 {
    background: #38ffff;
    color: #38ffff;
}

#cyan-10 {
    background: #2effff;
    color: #2effff;
}

#cyan-11 {
    background: #29ffff;
    color: #29ffff;
}

#cyan-12 {
    background: #1fffff;
    color: #1fffff;
}

#cyan-13 {
    background: #14ffff;
    color: #14ffff;
}

#cyan-14 {
    background: #0fffff;
    color: #0fffff;
}

#cyan-15 {
    background: #05ffff;
    color: #05ffff;
}

#cyan-main-dark {
    background: #009494;
    color: #009494;
}

#cyan-dark-1 {
    background: #00f5f5;
    color: #00f5f5;
}

#cyan-dark-2 {
    background: #00f0f0;
    color: #00f0f0;
}

#cyan-dark-3 {
    background: #00e6e6;
    color: #00e6e6;
}

#cyan-dark-4 {
    background: #00e0e0;
    color: #00e0e0;
}

#cyan-dark-5 {
    background: #00dbdb;
    color: #00dbdb;
}

#cyan-dark-6 {
    background: #00d1d1;
    color: #00d1d1;
}

#cyan-dark-7 {
    background: #00cccc;
    color: #00cccc;
}

#cyan-dark-8 {
    background: #00c7c7;
    color: #00c7c7;
}

#cyan-dark-9 {
    background: #00bdbd;
    color: #00bdbd;
}

#cyan-dark-10 {
    background: #00b8b8;
    color: #00b8b8;
}

#cyan-dark-11 {
    background: #00b3b3;
    color: #00b3b3;
}

#cyan-dark-12 {
    background: #00a8a8;
    color: #00a8a8;
}

#cyan-dark-13 {
    background: #00a3a3;
    color: #00a3a3;
}

#cyan-dark-14 {
    background: #009e9e;
    color: #009e9e;
}

#cyan-dark-15 {
    background: #009494;
    color: #009494;
}
