#magenta-main {
    background: #ff00ff;
    color: #ff00ff;
}

#magenta-1 {
    background: #ff7aff;
    color: #ff7aff;
}

#magenta-2 {
    background: #ff75ff;
    color: #ff75ff;
}

#magenta-3 {
    background: #ff6bff;
    color: #ff6bff;
}

#magenta-4 {
    background: #ff61ff;
    color: #ff61ff;
}

#magenta-5 {
    background: #ff5cff;
    color: #ff5cff;
}

#magenta-6 {
    background: #ff52ff;
    color: #ff52ff;
}

#magenta-7 {
    background: #ff47ff;
    color: #ff47ff;
}

#magenta-8 {
    background: #ff42ff;
    color: #ff42ff;
}

#magenta-9 {
    background: #ff38ff;
    color: #ff38ff;
}

#magenta-10 {
    background: #ff2eff;
    color: #ff2eff;
}

#magenta-11 {
    background: #ff29ff;
    color: #ff29ff;
}

#magenta-12 {
    background: #ff1fff;
    color: #ff1fff;
}

#magenta-13 {
    background: #ff14ff;
    color: #ff14ff;
}

#magenta-14 {
    background: #ff0fff;
    color: #ff0fff;
}

#magenta-15 {
    background: #ff05ff;
    color: #ff05ff;
}

#magenta-main-dark {
    background: #940094;
    color: #940094;
}

#magenta-dark-1 {
    background: #f500f5;
    color: #f500f5;
}

#magenta-dark-2 {
    background: #f000f0;
    color: #f000f0;
}

#magenta-dark-3 {
    background: #e600e6;
    color: #e600e6;
}

#magenta-dark-4 {
    background: #e000e0;
    color: #e000e0;
}

#magenta-dark-5 {
    background: #db00db;
    color: #db00db;
}

#magenta-dark-6 {
    background: #d100d1;
    color: #d100d1;
}

#magenta-dark-7 {
    background: #cc00cc;
    color: #cc00cc;
}

#magenta-dark-8 {
    background: #c700c7;
    color: #c700c7;
}

#magenta-dark-9 {
    background: #bd00bd;
    color: #bd00bd;
}

#magenta-dark-10 {
    background: #b800b8;
    color: #b800b8;
}

#magenta-dark-11 {
    background: #b300b3;
    color: #b300b3;
}

#magenta-dark-12 {
    background: #a800a8;
    color: #a800a8;
}

#magenta-dark-13 {
    background: #a300a3;
    color: #a300a3;
}

#magenta-dark-14 {
    background: #9e009e;
    color: #9e009e;
}

#magenta-dark-15 {
    background: #940094;
    color: #940094;
}
