#navy-main{
    background:  #000080;
    color:  #000080;
}
#navy-1{
    background:  #0000fa ;
    color:  #0000fa ;
}
#navy-2{
    background:  #0000f5 ;
    color:  #0000f5 ;
}
#navy-3{
    background:  #0000eb ;
    color:  #0000eb ;
}
#navy-4{
    background: #0000e0  ;
    color:  #0000e0 ;
}
#navy-5{
    background:  #0000db ;
    color:  #0000db ;
}
#navy-6{
    background:  #0000d1 ;
    color:  #0000d1 ;
}
#navy-7{
    background:  #0000c7 ;
    color:  #0000c7 ;
}
#navy-8{
    background: #0000c2  ;
    color:  #0000c2 ;
}
#navy-9{
    background:  #0000b8 ;
    color:  #0000b8 ;
}
#navy-10{
    background:  #0000ad ;
    color:  #0000ad ;
}
#navy-11{
    background: #0000a8  ;
    color: #0000a8  ;
}
#navy-12{
    background:  #00009e ;
    color:  #00009e ;
}
#navy-13{
    background:  #000094 ;
    color:  #000094 ;
}
#navy-14{
    background:  #00008f ;
    color: #00008f  ;
}
#navy-15{
    background:  #000085 ;
    color:  #000085 ;
}

#navy-main-dark{
    background:  #000014 ;
    color:  #000014 ;
}
#navy-dark-1{
    background:  #000075 ;
    color:  #000075 ;
}
#navy-dark-2{
    background:  #000070 ;
    color: #000070  ;
}
#navy-dark-3{
    background: #000066  ;
    color:  #000066 ;
}
#navy-dark-4{
    background:  #000061 ;
    color:  #000061 ;
}
#navy-dark-5{
    background:  #00005c ;
    color:  #00005c ;
}
#navy-dark-6{
    background:  #000052 ;
    color:  #000052 ;
}
#navy-dark-7{
    background: #00004d  ;
    color:  #00004d ;
}
#navy-dark-8{
    background:  #000047 ;
    color:  #000047 ;
}
#navy-dark-9{
    background: #00003d  ;
    color: #00003d  ;
}
#navy-dark-10{
    background: #000038  ;
    color:  #000038 ;
}
#navy-dark-11{
    background: #000033  ;
    color:  #000033 ;
}
#navy-dark-12{
    background: #000029  ;
    color:  #000029 ;
}
#navy-dark-13{
    background: #000024  ;
    color: #000024  ;
}
#navy-dark-14{
    background:  #00001f ;
    color:  #00001f ;
}
#navy-dark-15{
    background: #000014  ;
    color:  #000014 ;
}
