#olive-main{
    background: #808000;
    color:  #808000;
}
#olive-1{
    background:  #fafa00 ;
    color: #fafa00  ;
}
#olive-2{
    background:  #f5f500 ;
    color: #f5f500  ;
}
#olive-3{
    background:  #ebeb00 ;
    color:  #ebeb00 ;
}
#olive-4{
    background:  #e0e000 ;
    color:  #e0e000 ;
}
#olive-5{
    background: #dbdb00  ;
    color: #dbdb00  ;
}
#olive-6{
    background: #d1d100  ;
    color:  #d1d100 ;
}
#olive-7{
    background:  #c7c700 ;
    color:  #c7c700 ;
}
#olive-8{
    background: #c2c200  ;
    color:  #c2c200 ;
}
#olive-9{
    background:  #b8b800 ;
    color:  #b8b800 ;
}
#olive-10{
    background:  #adad00 ;
    color:  #adad00 ;
}
#olive-11{
    background:  #a8a800 ;
    color: #a8a800  ;
}
#olive-12{
    background: #9e9e00  ;
    color: #9e9e00  ;
}
#olive-13{
    background: #949400  ;
    color: #949400  ;
}
#olive-14{
    background: #8f8f00  ;
    color:  #8f8f00 ;
}
#olive-15{
    background:  #858500 ;
    color:  #858500 ;
}


#olive-dark-main{
    background:  #141400 ;
    color:  #141400 ;
}
#olive-dark-1{
    background:  #757500 ;
    color:  #757500 ;
}
#olive-dark-2{
    background:  #707000 ;
    color:  #707000 ;
}
#olive-dark-3{
    background:  #666600 ;
    color:  #666600 ;
}
#olive-dark-4{
    background:  #616100 ;
    color: #616100  ;
}

#olive-dark-5{
    background: #5c5c00  ;
    color:  #5c5c00 ;
}
#olive-dark-6{
    background:  #525200 ;
    color:  #525200 ;
}
#olive-dark-7{
    background:  #4d4d00 ;
    color:  #4d4d00 ;
}
#olive-dark-8{
    background:  #474700 ;
    color:  #474700 ;
}
#olive-dark-9{
    background:  #3d3d00 ;
    color:  #3d3d00 ;
}
#olive-dark-10{
    background: #383800  ;
    color:  #383800 ;
}
#olive-dark-11{
    background: #333300  ;
    color:  #333300 ;
}
#olive-dark-12{
    background:  #292900 ;
    color:  #292900 ;
}
#olive-dark-13{
    background:   #242400  ;
    color:   #242400  ;
}
#olive-dark-14{
    background:   #1f1f00  ;
    color:  #1f1f00   ;
}
#olive-dark-15{
    background:   #141400  ;
    color:   #141400  ;
}