#pink-main {
    background: #ffc0cb;
    color: #ffc0cb;
}

#pink-1 {
    background: #ffe6f2;
    color: #ffe6f2;
}

#pink-2 {
    background: #ffe0f0;
    color: #ffe0f0;
}

#pink-3 {
    background: #ffd6eb;
    color: #ffd6eb;
}

#pink-4 {
    background: #ffcce6;
    color: #ffcce6;
}

#pink-5 {
    background: #ffc7e3;
    color: #ffc7e3;
}

#pink-6 {
    background: #ffbdde;
    color: #ffbdde;
}

#pink-7 {
    background: #ffb3d9;
    color: #ffb3d9;
}

#pink-8 {
    background: #ffadd6;
    color: #ffadd6;
}

#pink-9 {
    background: #ffa3d1;
    color: #ffa3d1;
}

#pink-10 {
    background: #ff99cc;
    color: #ff99cc;
}

#pink-11 {
    background: #ff94c9;
    color: #ff94c9;
}

#pink-12 {
    background: #ff8ac4;
    color: #ff8ac4;
}

#pink-13 {
    background: #ff80bf;
    color: #ff80bf;
}

#pink-14 {
    background: #ff7abd;
    color: #ff7abd;
}

#pink-15 {
    background: #ff70b8;
    color: #ff70b8;
}

#pink-main-dark {
    background: #ff0080;
    color: #ff0080;
}

#pink-dark-1 {
    background: #ff61b0;
    color: #ff61b0;
}

#pink-dark-2 {
    background: #ff5cad;
    color: #ff5cad;
}

#pink-dark-3 {
    background: #ff52a8;
    color: #ff52a8;
}

#pink-dark-4 {
    background: #ff4da6;
    color: #ff4da6;
}

#pink-dark-5 {
    background: #ff47a3;
    color: #ff47a3;
}

#pink-dark-6 {
    background:  #ff3d9e ;
    color: #ff3d9e  ;
}

#pink-dark-7 {
    background:  #ff389c ;
    color:  #ff389c ;
}

#pink-dark-8 {
    background:  #ff3399 ;
    color: #ff3399  ;
}

#pink-dark-9 {
    background:  #ff2994 ;
    color:  #ff2994 ;
}

#pink-dark-10 {
    background:  #ff2491 ;
    color:  #ff2491 ;
}

#pink-dark-11 {
    background: #ff1f8f  ;
    color:  #ff1f8f ;
}

#pink-dark-12 {
    background:  #ff148a ;
    color:  #ff148a ;
}

#pink-dark-13 {
    background:  #ff0f87 ;
    color: #ff0f87  ;
}

#pink-dark-14 {
    background:  #ff0a85 ;
    color:  #ff0a85 ;
}

#pink-dark-15 {
    background: #ff0080;
    color: #ff0080;
}
