#purple-main {
    background: #800080;
    color: #800080;
}

#purple-1 {
    background: #c67aff;
    color: #c67aff;
}

#purple-2 {
    background: #c375ff;
    color: #c375ff;
}

#purple-3 {
    background: #bf6bff;
    color: #bf6bff;
}

#purple-4 {
    background: #ba61ff;
    color: #ba61ff;
}

#purple-5 {
    background: #b85cff;
    color: #b85cff;
}

#purple-6 {
    background: #b452ff;
    color: #b452ff;
}

#purple-7 {
    background: #af47ff;
    color: #af47ff;
}

#purple-8 {
    background: #ad42ff;
    color: #ad42ff;
}

#purple-9 {
    background: #a938ff;
    color: #a938ff;
}

#purple-10 {
    background: #a42eff;
    color: #a42eff;
}

#purple-11 {
    background: #a229ff;
    color: #a229ff;
}

#purple-12 {
    background: #9e1fff;
    color: #9e1fff;
}

#purple-13 {
    background: #9914ff;
    color: #9914ff;
}

#purple-14 {
    background: #970fff;
    color: #970fff;
}

#purple-15 {
    background: #9305ff;
    color: #9305ff;
}


#purple-dark-main {
    background:  #540094 ;
    color:  #540094 ;
}
#purple-dark-1{
    background:  #8b00f5 ;
    color:  #8b00f5 ;
}

#purple-dark-2{
    background: #8800f0  ;
    color:  #8800f0 ;
}
#purple-dark-3{
    background: #8200e6  ;
    color:  #8200e6 ;
}
#purple-dark-4{
    background:  #7f00e0 ;
    color: #7f00e0  ;
}
#purple-dark-5{
    background:  #7c00db ;
    color: #7c00db  ;
}
#purple-dark-6{
    background: #7600d1  ;
    color:  #7600d1 ;
}
#purple-dark-7{
    background:  #7400cc ;
    color:  #7400cc ;
}
#purple-dark-8{
    background:  #7100c7 ;
    color:  #7100c7 ;
}
#purple-dark-9{
    background: #6b00bd  ;
    color:  #6b00bd ;
}
#purple-dark-10{
    background:  #6800b8 ;
    color: #6800b8  ;
}
#purple-dark-11{
    background:  #6500b3 ;
    color:  #6500b3 ;
}
#purple-dark-12{
    background: #5f00a8  ;
    color:  #5f00a8 ;
}
#purple-dark-13{
    background:  #5c00a3 ;
    color: #5c00a3  ;
}
#purple-dark-14{
    background:  #5a009e ;
    color: #5a009e  ;
}
#purple-dark-15{
    background: #540094  ;
    color:  #540094 ;
}
