#yellow-main {
    background: #ffff00;
    color: #ffff00;
}

#yellow-1 {
    background: #ffff7a;
    color: #ffff7a;
}

#yellow-2 {
    background: #ffff75;
    color: #ffff75;
}

#yellow-3 {
    background: #ffff6b;
    color: #ffff6b;
}

#yellow-4 {
    background: #ffff61;
    color: #ffff61;
}

#yellow-5 {
    background: #ffff5c;
    color: #ffff5c;
}

#yellow-6 {
    background: #ffff52;
    color: #ffff52;
}

#yellow-7 {
    background: #ffff47;
    color: #ffff47;
}

#yellow-8 {
    background: #ffff42;
    color: #ffff42;
}

#yellow-9 {
    background: #ffff38;
    color: #ffff38;
}

#yellow-10 {
    background: #ffff2e;
    color: #ffff2e;
}

#yellow-11 {
    background: #ffff29;
    color: #ffff29;
}

#yellow-12 {
    background: #ffff1f;
    color: #ffff1f;
}

#yellow-13 {
    background: #ffff14;
    color: #ffff14;
}

#yellow-14 {
    background: #ffff0f;
    color: #ffff0f;
}

#yellow-15 {
    background: #ffff05;
    color: #ffff05;
}

#yellow-dark-main {
    background:  #949400 ;
    color: #949400  ;
}

#yellow-dark-1 {
    background: #f5f500  ;
    color: #f5f500  ;
}

#yellow-dark-2 {
    background: #f0f000  ;
    color:  #f0f000 ;
}

#yellow-dark-3 {
    background:  #e6e600 ;
    color: #e6e600  ;
}

#yellow-dark-4 {
    background: #e0e000  ;
    color:  #e0e000 ;
}

#yellow-dark-5 {
    background: #dbdb00  ;
    color:  #dbdb00 ;
}

#yellow-dark-6 {
    background:  #d1d100 ;
    color:  #d1d100 ;
}

#yellow-dark-7 {
    background:  #cccc00 ;
    color:  #cccc00 ;
}

#yellow-dark-8 {
    background:  #c7c700 ;
    color:  #c7c700 ;
}

#yellow-dark-9 {
    background:  #bdbd00 ;
    color: #bdbd00  ;
}

#yellow-dark-10 {
    background: #b8b800  ;
    color:  #b8b800 ;
}

#yellow-dark-11 {
    background:  #b3b300 ;
    color:  #b3b300 ;
}

#yellow-dark-12 {
    background:  #a8a800 ;
    color:  #a8a800 ;
}

#yellow-dark-13 {
    background:  #a3a300 ;
    color: #a3a300  ;
}

#yellow-dark-14 {
    background:  #9e9e00 ;
    color:  #9e9e00 ;
}

#yellow-dark-15 {
    background:  #949400 ;
    color:  #949400 ;
}
